html , body {overflow: hidden;height: 100%;}
.container{overflow: hidden;}
.tcc-wapper{
  top: 15%;height: 9rem;overflow: auto;background-color: transparent;border-radius: 0;
}
.item{margin-top: 0.25rem;}
.items{width: 100%;border-radius: 0.2rem;overflow: hidden;background-color: white;padding-bottom: 1rem;}
.items:nth-child(n+2){    margin-top: 0.6rem;}
.tcc-wapper-qd{margin-top: 0.2rem;}


/*报名成功*/
.success-wipper{top: 25%;background-color: #ebebeb;width: 93.6%;margin: auto;height: 5.49rem;position: fixed;z-index: 666;left: 3.2%;overflow: hidden;    border-radius: 0.2rem;}
.success-wipper-t2{    width: 100%;height: 1rem;line-height: 1rem;color: #292929;font-size: 0.32rem;text-align: center;}
.success-wipper-t2 a{ color: #292929;text-decoration: none;display: block;width: 100%;height: 100%;}
.success-wipper-t1{height: 4.49rem;width: 100%;text-align: center;background-image: url("../img/active/bg.png");background-size: 100% 100%;}
.success-wipper-t1-img{width: 40%;margin-top: 8%;}
.success-wipper-t1-t{font-size: 0.3rem;line-height: 100%;color: white;margin-top: 0.2rem;}