/*修改密码*/
body{background-color: #f5f5f5;}
.item-02{background-color: white;}
/*信息修改*/
.message{width: 100%;}
.message-list{height: 1rem;line-height: 1rem;width: 100%;color: #333333;font-size: 0.3rem;background-color: white;}
.message-list-center{width:91%;margin: auto;height: 100%;}
.message-list-center-fr{width: 0.2rem;}
.message-list-center-fr-img{vertical-align: middle;width: 100%;}
.message-list-center-fl{color: #333333;}
.message-list-center a{text-decoration: none;display: block;width: 100%;height: 100%;}
.message-list{margin-top: 1px;}
.message-list:nth-child(1){margin-top: 0;}
/*修改企业名称*/
.firm-top-contaienr{width: 100%;background-color: white;padding-bottom: 0.93rem;}
.firm-top{width: 91%;margin: auto;padding-top: 0.4rem;}
.firm-top-01{height: 0.92rem;line-height: 0.92rem;background-color:#f5f5f5;border-radius: 5px; }
.firm-top-01-int{height: 0.91rem;line-height: 0.91rem;width:95%;margin: auto;border: none;outline: none;    display: -webkit-box;background-color: transparent;font-size: 0.3rem;color: #333333;margin-left: 5%;}
.firm-sz{width:78.19%;margin: auto;margin-top: 0.7rem;position: relative; }
.firm-sz-01{border-radius: 10px;background-color:#f5f5f5; width: 100%;}
.firm-sz-01-01{width: 55.37%;margin: auto;padding-top: 10%;}
.firm-sz-01-01-img{width: 100%;height: 100%;border-radius: 10px;}
.firm-sz-02{width: 3.19rem;margin: auto;height: 0.74rem;line-height: 0.74rem;border-radius: 2rem;border: 1px solid #5197ff;font-size: 0.3rem;color: #333333;text-align: center;margin-top: 0.26rem;}
.sz-fl-container-file{position: absolute;width: 100%;height: 100%;top: 0;left: 0;outline: none;opacity: 0;cursor: pointer;}
.firm-sub{width: 85%;margin: auto;background-color:#5197ff;text-align: center;color: white; height: 0.8rem;line-height: 0.8rem;font-size: 0.3rem;border-radius: 5px;margin-top: 0.45rem;}
/*修改联系人*/
.user-top-contaienr{padding-bottom:0.4rem; }
.firm-top-01-int::placeholder{color: #333333;}
.firm-top-01-int::-webkit-input-placeholder{color: #333333;}
.mobel-yzm-top-01{width: 65%;}
.mobel-yzm{margin-top: 0.25rem;}
.yzm-fr{-webkit-appearance: none;width: 30%;color: white;height: 0.91rem;line-height: 0.91rem;border: none;outline: none;    border-radius: 5px;background-color: #f6bd59;}
.mobel-top-contaienr{padding-bottom: 0.56rem;}
.mobel-yzm-top-01-int{    margin-left: 7.69%;}